/* #zmmtg-root {
  width: 50%;
}
.meeting-client-inner {
  width: 50%;
}

#dialog-join {
  width: 100% !important;
} 

#wc-container-right {
  width: 250px !important;
}
*/

.participants-ul .not-hover-list-item {
  max-width: 300px;
}
